body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 100%;
}

.ant-layout-header{
  background-color: white;
}
.span-tag-text{
 font-weight: bolder;
}

#tags .ant-list-items{
  overflow: auto;
  max-height: 400px;
}

#checks .ant-space-item{
  min-width: 10%;
}

#right-tracker .ant-space-item:nth-child(2){
  min-width: 90%;

}